{% extends "base.html" %}

{% block title %}Computer Friendly - About{% endblock %}

{% block content %}

<div class='about-header'>
    <h1>Como chegamos até aqui?</h1>
    <p>The project was born from a challenge during a course.<br>
        We were still suffering from the restrictive measures due to the COVID-19 pandemic, which started in March 2020 and the need to stay at home took on dramatic contours.<br>
        Thus, after the loosening of the restrictive measures, the city regained its color and life. People returned to activities and, slowly, life was returning to normal (There are those who believe that we will never return to the pre-pandemic scenario...).<br>
        In this new (old) scenario, new (old) city, new profession, I started to fill my days with studies in the most diverse places: squares ⛲️, libraries 📚, club 🎾, university 🏫, shopping 🛍, buses 🚌 (yeah... ), trains 🚈 and cafes ☕️.<br>
        Oh the cafes. For all wallets and tastes. All needed. All with their <i>natas</i>, <i>abatanados</i>, <i>éclairs</i> and so on...<br>
        So, bringing this new habit to the new profession was no effort at all.<br>
        Here I try to know and indicate (only indicate, do not evaluate) places that have some relevant items for those looking for a coffee with a computer in tow.<br>
        I hope you like it, enjoy it and participate indicating places for good cafes and computer friends.</p>

        INSERT TWO COFFEE MUGS
</div>

{% endblock %}