{% extends "base.html" %}

{% block title %}Computer Friendly - Braga{% endblock %}

{% block content %}

<h1>☕️ Cafes Computer Friendly 👨🏻‍💻</h1>
<h2>🌧 Rain risk! 🌧 </h2>
<h3>Find a protected place to dive deep into your studies, enjoying the rain sounds...</h3>
<div>
    <a href="#"><input class="button" type="button" value="Check it out the dreams list"></a>
</div>
<div class='includeCafe'>
    <h5>Do you want to include your Cafe? Click <a href='#'>here</a>, fill the form and I will make a visit.
    </h5>
</div>

{% endblock %}