* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fillButton {
    0% {
        background-color: #FFEBC1;
        color: black;
    }
    100% {
        background-color: #d5ac5a;
        color: white;
    }
}

body {
    /* background-color: #fff7e4; */
    font-family: "Indie Flower";
    background-image: url(/static/imattsmart-84a31uygTxc-unsplash.jpg);
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a64b2ad1;
    box-shadow: 0 0 25px grey;
}

.header h1 a {
    color: #FFEBC1;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-decoration: none;
    color: #fff7e4;
}

.menu {
    display: flex;
    list-style: none;
}

.menu > li {
    position: relative;
}

.menu > li a {
    padding: 12px;
    border-radius: 7px;
    color: #ffebc1;
    text-decoration: none;
    /* font-family: 'Indie Flower', cursive; */
    font-weight: lighter;
    display: block;
}

.menu > li:hover a {
    background-color: #FFEBC1;
    color: #A64B2A;
}

.menu li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 7px;
    background-color: #FFEBC1;
    color: #A64B2A;
    list-style: none;
    min-width: 80px;
}

.submenu li a:hover {
    background-color: #A64B2A;
    color: #FFEBC1;
}

.overlay {
    background-color: rgba(210, 171, 125, .3);
    /* margin: 50px; */
    padding: 30px;
}

.main {
    color: black;
    text-align: center;
    margin: 20vh 0;
    /* font-family: "Indie Flower"; */
}

.main h1 {
    margin-bottom: 20px;
    font-size: 400%;
    font-weight: 900;
    font-family: 'Patrick Hand', cursive;
}

.main h2 {
    font-size: 200%;
    /* font-family: 'Indie Flower', cursive; */
}

.main h3 {
    font-size: 200%;
    /* font-family: 'Indie Flower', cursive; */
}
/* 
font-family: 'Amatic SC', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Shadows Into Light', cursive;
*/

.main a {
    text-decoration: none;
    color: black;
}

.button {
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px outset #FFEBC1;
    background-color: #FFEBC1;
    box-shadow: 0 0 2px grey;
    font-family: "Indie Flower";
}

.button:hover {
    background-color: #d5ac5a;
    animation-name: fillButton;
    animation-duration: 1000ms;
    color: white;
}

.includeCafe a {
    color: #A64B2A
}

.footer {
    background-color: #d2ab7d;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 80%;
}


/* ABOUT */


.about-header {
    width: 60vw;
    margin: 0 400px 0;
    line-height: 2rem;
}

.about-header p {
    text-align: center;
    margin-top: 60px;
}